# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Node.js specific
node_modules/
package-lock.json

# Electron build output - ignore everything except dmg and zip in dist
/dist/*
!/dist/*.dmg
!/dist/*.zip

# Visual Studio Code specific
.vscode/
*.code-workspace