<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
</head>
<body class="drag">
  <header>
    <h1>Settings</h1>
  </header>

  <main>
    <section class="no-drag">
      <h2>Tasks</h2>

      <ul>
        <li>Remember Window Position</li>
        <li>Save Settings on Machine</li>
        <li>Multiple Apps Options</li>
      </ul>
    </section>
</body>
</html>
